<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js"></script>
    <!--    <script src="../static/js/bootstrap.min.js"></script>-->
    <!--    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->

    <title>发布--Community</title>
</head>
<body>
<nav class="navbar navbar-default"><!--<nav> 标签定义导航链接的部分-->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Community</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li th:if="${session.User == null }"><a
                        th:href=" @{'https://github.com/login/oauth/authorize?client_id=73b35e5a3e56e148322c&redirect_uri=' + ${indexUrl} + '/callback&scope=user&state=1'}">登录</a>
                </li>

                <li th:if="not ${session.User == null }" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.User.getName()}">我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--行（row）”必须包含在 .container （固定宽度）或 .container-fluid （100% 宽度）中，以便为其赋予合适的排列（aligment）和内补（padding）-->
    <div class="container-fluid publish_main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 "><!--使用栅格系统完成页面响应式布局，-->
                <H2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</H2><!--添加一个图标-->
                <!--aria-hidden="true"
                    该图标是装饰用的，该语句会对该图标进行语义化隐藏，避免屏幕读取设备识别到，误导残障人士
                -->
                <hr>
                <form action="/publish" method="post">
                    <!--使用bootstrap模板-->
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）:</label>
                        <input type="text" class="form-control" name="title" id="title" th:value="${title}" placeholder="问题标题...">
                    </div>

                    <div class="form-group">
                        <!--for 属性规定 label 与哪个表单元素绑定。分为显示联系，隐式联系-->
                        <label for="description">问题补充 (必填，请参照右侧提示):</label>
                        <textarea type="text" class="form-control" rows="10" name="description" id="description" th:utext ="${description}"></textarea>
                    </div>
                    <!--只有class类设置为form-control，才会忽略cols，撑满屏幕-->
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" name="tag" id="tag" th:value="${tag}" placeholder="创建或搜索添加新话题...">
                    </div>
                    <span th:text="${error}"></span>
                    <button type="submit" class="btn btn-success btn-publish">发布</button><!--发布按钮-->

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 "  >
                <h3>问题发起指南</h3>
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br>
            </div>
        </div>
    </div>
</body>
</html>